# General
.DS_Store
Thumbs.db
*.log
.env

# Android
.gradle
/local.properties
/build
**/build/
.externalNativeBuild
.cxx
/captures

# Android Studio
.idea/
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
*.iml

# Kotlin / Java
*.class

# iOS
DerivedData/
Pods/
build/
*.xcworkspace
*.xcuserdata
*.swiftmodule

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.xcuserstate